:root {
    --primary-text: #000;
    --accent: #BA1200;
    --background: hsl(75, 100%, 99%);
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #fafafa;
    font-family: 'Helvetica Neue', arial, sans-serif;
    font-weight: 400;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

#app {
    height: 100%;
    text-align: center;
    background-color: var(--background);
    color: var(--primary-text);
    font-size: 1.5em;
    padding-top: 100px;
}

.link {
    color: var(--primary-text);
}

/*************************************
              Time input
 *************************************/
#time-input * {
    background: transparent;
    color: var(--primary-text);
}

#time-input input {
    border: none;
    border-bottom: 2px solid var(--primary-text);
    font-size: 1.5em;
    text-align: center;
    width: 5em;
}

#time-input input:focus-visible {
    outline: none;
}

#time-input button {
    border: 1px solid var(--primary-text);
    border-radius: 5px;
    margin-left: 1em;
    font-size: 1.1em;
    cursor: pointer;
}
